.flex{
    display: flex;
}
.flex h3{
    margin-top: 5rem;
    margin-left: 5rem;
}
.bg-color{
    background-color: brown;
    height: 50vh;
}
.bg-color p{
    color: cornsilk;
    text-align: center;
    padding-top: 15rem;
}
